article {
	color: #000;
	font-weight: 400;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 20px 0 20px;
	background: #fff;
	padding: 20px;
	clear: both;
	opacity: 0.75;
}
article.button {
	opacity: 1;
}