/* UNNECESSARY ? */
#banner-page {
	padding: 80%;
	background-image: url(../images/background.png);
	background-position: center;
	background-attachment: fixed;
}
#header-page {
	padding: 10em 2em;
	height: 800px;
	background-image: url(../images/background.png);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}