/* Progressive button wrapper */
.form__toggle {
	display: inline-block;
	margin-left: 10px;
}

.form__toggle-button {
	-webkit-transition: 0.3s;
	display: inline-block;
	height: 40px;
	font-size: 30px;
	color: rgba(0,0,0,0.5);
}
.form__toggle-button:hover {
	color: rgba(0,0,255,0.5);
}