.form__toggle {
	display: inline-block;
	margin-left: 10px;
}
.form__toggle-button {
	-webkit-transition: 0.3s;
	display: inline-block;
	height: 40px;
	font-size: 30px;
	color: #000;
}
.form__toggle-button:hover {
	color: #6fac1b;
}